In [0]:
CREATE database Office

In [0]:
CREATE TABLE EMPLOYEE
(
  ID INT NOT NULL,
  NAME STRING,
  AGE INT,
  SEX STRING,
  INCOME FLOAT
);

In [0]:
INSERT INTO employee (ID, NAME, AGE, SEX, INCOME)
VALUES (1, 'Anindya Maity', 21, 'Male', 41500.00),
(2, 'Shreya Saha', 22, 'Female', 42500.00),
(3, 'Amal Pal', 23, 'Male', 4300.00),
(4, 'Ankita Sharma', 24, 'Female', 44500.00),
(5, 'Sayan Maity', 25, 'Male', 45500.00);

num_affected_rows,num_inserted_rows
5,5

In [0]:
Insert into employee(id, name, age, sex, income)
values(6, 'Anindya Maity', 21, 'Male', 41500.00);

num_affected_rows,num_inserted_rows
1,1

In [0]:
select * from employee

ID,NAME,AGE,SEX,INCOME
1,Anindya Maity,21,Male,41500.0
2,Shreya Saha,22,Female,42500.0
3,Amal Pal,23,Male,4300.0
4,Ankita Sharma,24,Female,44500.0
5,Sayan Maity,25,Male,45500.0
6,Anindya Maity,21,Male,41500.0

## Write an SQL query to find duplicate records in a table.
### WHERE cannot be used with COUNT(*) because COUNT(*) is computed after grouping. Thatâ€™s why HAVING is used.

In [0]:
select name, count(*)
from employee
group by NAME
having count(*) > 1;

name,count(*)
Anindya Maity,2

## Write an SQL query to find the third highest salary from the Employee table.

In [0]:
SELECT DISTINCT INCOME
FROM Employee
ORDER BY INCOME DESC
LIMIT 1 OFFSET 2;  -- 3rd highest (offset = N-1)

INCOME
42500.0

## Write an SQL query to join two tables and retrieve specific columns.

In [0]:
create table department
(
  department_id INT not null,
  department_name STRING
);

In [0]:
insert into department(department_id, department_name)
values(1, 'HR'),
(2, 'IT'),
(3, 'IT'),
(4, 'FINANCE'),
(5, 'FINANCE'),
(6, 'IT');

num_affected_rows,num_inserted_rows
6,6

In [0]:
SELECT * FROM department

department_id,department_name
1,HR
2,IT
3,IT
4,FINANCE
5,FINANCE
6,IT

In [0]:
SELECT e.id, e.name, d.department_name
FROM employee e JOIN department d
ON e.id = d.department_id;

id,name,department_name
1,Anindya Maity,HR
2,Shreya Saha,IT
3,Amal Pal,IT
4,Ankita Sharma,FINANCE
5,Sayan Maity,FINANCE
6,Anindya Maity,IT

## Question: How do you handle NULL values in SQL?
#### Answer: Use functions like ISNULL() or COALESCE() to replace NULL values with a specified value.

In [0]:
SELECT name
FROM Employee
WHERE isnull(INCOME);

In [0]:
insert into employee(id, name, age, sex)
values(10, 'John', 30, 'M');

num_affected_rows,num_inserted_rows
1,1

In [0]:
select * from employee

ID,NAME,AGE,SEX,INCOME
1,Anindya Maity,21,Male,41500.0
2,Shreya Saha,22,Female,42500.0
3,Amal Pal,23,Male,4300.0
4,Ankita Sharma,24,Female,44500.0
5,Sayan Maity,25,Male,45500.0
6,Anindya Maity,21,Male,41500.0
10,John,30,M,null

In [0]:
select * from employee where INCOME is null

ID,NAME,AGE,SEX,INCOME
10,John,30,M,null

In [0]:
SELECT name, COALESCE(INCOME, 0) AS salary
FROM Employee;

name,salary
Anindya Maity,41500.0
Shreya Saha,42500.0
Amal Pal,4300.0
Ankita Sharma,44500.0
Sayan Maity,45500.0
Anindya Maity,41500.0
John,0.0

## Write an SQL query to calculate the running total of salaries.

In [0]:
  SELECT name, INCOME,
         SUM(INCOME) OVER (ORDER BY INCOME) AS running_total
  FROM Employee;

name,INCOME,running_total
John,null,null
Amal Pal,4300.0,4300.0
Anindya Maity,41500.0,87300.0
Anindya Maity,41500.0,87300.0
Shreya Saha,42500.0,129800.0
Ankita Sharma,44500.0,174300.0
Sayan Maity,45500.0,219800.0

## Write an SQL query to find the department with the highest average salary.

In [0]:
select department_name from department where department_id =(
SELECT id
FROM employee
GROUP BY id
ORDER BY AVG(income) DESC
LIMIT 1
);

department_name
FINANCE