# DAY 1 â€“ SQL BASICS & DATA RETRIEVAL

# Create a Database & Table

In [0]:
CREATE DATABASE SchoolDB;

USE SchoolDB;

CREATE TABLE Students (
    StudentID INT PRIMARY KEY,
    Name VARCHAR(50),
    Age INT,
    Grade VARCHAR(10),
    City VARCHAR(50)
);

# Insert Data

In [0]:
INSERT INTO Students (StudentID, Name, Age, Grade, City)
VALUES
(1, 'Ananya', 14, '8th', 'Kolkata'),
(2, 'Ravi', 15, '9th', 'Delhi'),
(3, 'Meera', 13, '7th', 'Mumbai');

num_affected_rows,num_inserted_rows
3,3

# View Data

In [0]:
SELECT * FROM Students;

StudentID,Name,Age,Grade,City
1,Ananya,14,8th,Kolkata
2,Ravi,15,9th,Delhi
3,Meera,13,7th,Mumbai

# Filter Data

In [0]:
SELECT * FROM Students WHERE City = 'Delhi';

StudentID,Name,Age,Grade,City
2,Ravi,15,9th,Delhi

# More examples:

In [0]:
SELECT Name, Age FROM Students WHERE Age > 13;

Name,Age
Ananya,14
Ravi,15

# Sort Data

In [0]:
SELECT * FROM Students ORDER BY Age DESC;

StudentID,Name,Age,Grade,City
2,Ravi,15,9th,Delhi
1,Ananya,14,8th,Kolkata
3,Meera,13,7th,Mumbai

# Limit Results

In [0]:
SELECT * FROM Students LIMIT 2;

StudentID,Name,Age,Grade,City
1,Ananya,14,8th,Kolkata
2,Ravi,15,9th,Delhi

# Rename Columns

In [0]:
SELECT Name AS StudentName, Age AS StudentAge FROM Students;

StudentName,StudentAge
Ananya,14
Ravi,15
Meera,13

# DAY 2 â€“ ADVANCED SQL (Joins, Grouping, Updating)

# Update & Delete

In [0]:
UPDATE Students SET City = 'Pune' WHERE StudentID = 3;

DELETE FROM Students WHERE Name = 'Ravi';

num_affected_rows
1

# Aggregate Functions
Function	Description
COUNT()	Number of rows
SUM()	Adds values
AVG()	Average
MIN()	Minimum
MAX()	Maximum

In [0]:
SELECT COUNT(*) FROM Students;
SELECT AVG(Age) FROM Students;

AVG(Age)
13.5

# GROUP BY & HAVING

In [0]:
CREATE TABLE Marks (
    StudentID INT,
    Subject VARCHAR(20),
    Marks INT
);

INSERT INTO Marks VALUES
(1, 'Math', 85),
(1, 'Science', 90),
(2, 'Math', 78),
(3, 'Science', 88);

num_affected_rows,num_inserted_rows
4,4

In [0]:
SELECT StudentID, AVG(Marks) AS AverageMarks
FROM Marks
GROUP BY StudentID
HAVING AVG(Marks) > 80;

StudentID,AverageMarks
1,87.5
3,88.0

# JOINs

In [0]:
SELECT Students.Name, Marks.Subject, Marks.Marks
FROM Students
JOIN Marks ON Students.StudentID = Marks.StudentID;

Name,Subject,Marks
Ananya,Math,85
Ananya,Science,90
Meera,Science,88

# Types of JOINs:

Type	Description
INNER JOIN	Only matching rows
LEFT JOIN	All from left + matching right
RIGHT JOIN	All from right + matching left
FULL JOIN	All from both sides

# Subqueries

In [0]:
SELECT Name
FROM Students
WHERE StudentID IN (
    SELECT StudentID FROM Marks WHERE Marks > 85
);

Name
Meera
Ananya

# Create Views

In [0]:
CREATE VIEW TopStudents AS
SELECT Students.Name, AVG(Marks.Marks) AS AvgMarks
FROM Students
JOIN Marks ON Students.StudentID = Marks.StudentID
GROUP BY Students.Name
HAVING AVG(Marks.Marks) > 85;

In [0]:
SELECT * FROM TopStudents;

Name,AvgMarks
Ananya,87.5
Meera,88.0